  /* PAGE */
    
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: burlywood;
        background-image: url(elan.jpeg);
    }

    h1 {
        color: green;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        } 

    .connexion {
        width: 500px;
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 30px;
        border-radius: 10px;
    }

    .connexion input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
