

/* Image en arrière-plan de la page entière */
body {
  background-image: url("https://media.istockphoto.com/id/153776333/fr/photo/wild-orignal-m%C3%A2le.jpg?s=1024x1024&w=is&k=20&c=Rlr2_e-symFi1Jacr_q5vntesp2ZDjFAQcDvNWp6R_o=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bloc avec un fond transparent (la dernière valeur 0.6 gère l'opacité) */
.conteneur {
  background-color: rgba(255, 255, 255, 0.6); /* Blanc transparent à 60% */
  padding: 30px;
  border-radius: 10px;
}